api_key.txt
venv/
test.py
downloaded_apks/
decompiled_files/
__pycache__/
helper.py
input_files/
extract_final_dataset_from_json/initial_from_cognicrypt.py
codeql/db-codeql/
test_alert_au.py
causal_analysis_cognicrypt/test_power_analysis_of_3pl_vs_dev.ipynb
mobsf/
semgrep/old_preprocessed-output
causal_analysis_cryptoguard/Power_analysis.ipynb
causal_analysis_cognicrypt/Power_analysis.ipynb
codeql/db-codeql/
codeql/output/
semgrep/semgrep_results/
codeql/automated_labeling_codeql.py
semgrep/automated_labelling_from_codeql.py
semgrep/automated_labeling_semgrep.py
library_classification/LibScout-Profiles/
utils/__pycache__/
extract_final_dataset_from_json/
rule_based_analysis_codeql/
causal_analysis_codeql/__pycache__/
causal_analysis_semgrep/__pycache__/
causal_analysis_cognicrypt/__pycache__/
causal_analysis_cryptoguard/__pycache__/
utils/dual_coding/